<head>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<% if (locals.user) {%>
<h1>LOGGED IN AS <%= user.username %></h1>
<button><a href="/log-out">Log Out</a></button>
<% } else { %>
<h1>no log in</h1>
<% } %>
<h1>Welcome to Members Only!</h1>
<button><a href="/sign-up">Signup</a></button>
