<head>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<h1>WHAT IS THE SECRET CODE?</h1>
<% if (locals.user) {%>
<h2>current account: <%= user.username %> is <%= user.member_status %></h2>
<form action="/upgrade" method="POST">
  <input id="code" name="code" type="password"/>
  <button class="glow-on-hover">submit code</button>
  <% } else { %> 
    <h2>Please log in first</h2>
    <a href="/log-in"><button>Login</button></a></span
    <% } %>
</form>