<head>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<h1>Log In</h1>
<% if (locals.user) {%>
<h1>Welcome back <%= user.first_name %></h1>
<button><a href="/log-out">Log Out</a></button>
<% } %>
<form action="/log-in" method="POST">
  <label for="username">Username</label>
  <input id="username" name="username" placeholder="username" type="text" />
  <label for="password">Password</label>
  <input id="password" name="password" type="password" />
  <button>Log In</button>
</form>
