<head>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<h1>Register an Account at Members Only</h1>
<form action="" method="POST">
  <label for="first_name">First Name</label>
  <input id="first_name" name="first_name" placeholder="john" type="text" />
  <label for="last_name">Last Name</label>
  <input id="last_name" name="last_name" placeholder="doe" type="text" />
  <label for="username">Username</label>
  <input
    id="username"
    name="username"
    placeholder="jdoe@gmail.com"
    type="text"
  />
  <label for="password">Password</label>
  <input id="password" name="password" type="password" />
  <label for="password_confirm">Confirm Password</label>
  <input id="password_confirm" name="password_confirm" type="password" />
  <button>Register</button>
</form>
